{% extends 'base.html' %}

<!-- Header -->
{% block content %}
<section class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 mr-auto order-lg-2">

        <div class="clearfix"></div>
        <h2 class="section-heading">Students:</h2>

        <p class="lead">The users who submit their project in system. They are able to access their account and see their tasks.{% extends
          'base.html' %}
          <br>the user get the following advantages:
          <br> • Cost saving, eliminates the unnecessary meeting and the cost of travel.<br> • Time line of the project is
          visible thus deadlines can be achieved on time. <br> • Higher performance, students can manage their projects a
          lot easier with a decent project management time line and deadline. <br> • Convenient for students and supervisors,
          using the online student management system is a lot easier to use since they can simply go online 24/7 without
          any time restriction. <br> • Higher security and privacy.

        </p>
      </div>
      <div class="col-lg-5 ml-auto order-lg-1">
        <div class="container-form">
          <div class="info">
            <h1 align="center">Login Form</h1>
          </div>
        </div>
        <div class="form">
          <div class="thumbnail">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg" />
            {% if form.non_field_errors %}
            <span class="alert alert-danger alert-dismissable">
            {{ form.non_field_errors }}
            </span>
            {% endif %}
          </div>
          <form method="post" action="{% url 'student_login' %}" class="login-form" role="form">
            {% csrf_token %}
             <input type="text" id="user_id" name="user_id" placeholder="student-id">
               {% for error in form.user_id.errors %}
                 <label class="control-label text-danger">{{ error }}</label>
               {% endfor %}
             <input type="password" class="form-control" id="password" name="password" placeholder="password">
               {% for error in form.password.errors %}
                 <label class="control-label text-danger">{{ error }}</label>
               {% endfor %}
             <button type="submit" style="color:rgb(255, 245, 220);">Log in</button>
             <p class="message">Haven't any account?<a href="{% url 'student_signup' %}">Sign up</a></p>
           </form>
        </div>
      </div>
    </div>

  </div>
</section>
 {% endblock %}