{% extends 'base.html' %}

<!-- Header -->
{% block content %}
    <section class="content-section-a">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 mr-auto order-lg-2">
            
            <div class="clearfix"></div>
            <h2 class="section-heading">Students:</h2>
			
            <p class="lead">The users who submit their project in system. 
			     They are able to access their  account and see their tasks.
				  <br>The user get the following advantages:
				 <br>
					• Cost saving, eliminates the unnecessary meeting and the cost of travel.<br>
					• Time line of the project is visible thus deadlines can be achieved on time. <br>
					• Higher performance, students can manage their projects a lot easier with a decent project management time line and deadline. <br>
					• Convenient for students and supervisors, using the online student management system is a lot easier to use since they can simply go online 24/7 without any time restriction. <br>
					• Higher security and privacy. 
									 
			</p>
          </div>
          <div class="col-lg-5 ml-auto order-lg-1">
           <div class="container-form">
                 <div class="info">
                     <h1 align="center">Sign Up Form</h1>
                 </div>
            </div>
            <div class="form">
                    
            <form action="{% url 'student_signup' %}" method="post" role="form" class="login-form">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                  <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label for="{{ field.label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                      <span class="help-block">{{ field.help_text|safe }}</span>
                    {% endif %}
                    {% for error in field.errors %}
                      <label class="control-label text-danger">{{ error }}</label>
                    {% endfor %}
                  </div>
                {% endfor %}
                <button type="submit" style="color:rgb(255, 245, 220);">Sign Up</button>
                <p class="message">Already have any account?<a href="{% url 'student_login' %}">Log In</a></p>
              </form>
            </div>
          </div>
        </div>

      </div>
      <!-- /.container -->
	  <!-- Return to Top -->
           <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a> 

    </section>
{% endblock %}