{% extends 'base.html' %}

<!-- Header -->
{% block content %}

<section class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto">

        <div class="clearfix"></div>
        <h2 class="section-heading">Teachers:</h2>
        <p class="lead">The users who receive notification by system that he/she get a students submitted project. They are able to access
          their account and see their tasks. They are able to see the written code and run the code without any hassle.<br>          The user get the following advantages:<br> • Higher visibility of project progress for students’ supervisors and
          easier management of projects. <br> • Convenient for supervisors, using online student project management system
          supervisors can simply monitor the progress of students. Students and supervisors can communicate in an effective
          and efficient way using online web communication features.

        </p>
      </div>
      <div class="col-lg-5 mr-auto">
        <div class="container-form">
          <div class="info">
            <h1 align="center">Login Form</h1>
          </div>
        </div>
        <div class="form">
          <div class="thumbnail">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg" />
            {% if form.non_field_errors %}
                  <span class="alert alert-danger alert-dismissable">
                  {{ form.non_field_errors }}
                  </span>
            {% endif %}
          </div>
         <form method="post" action="{% url 'teacher_login' %}" class="login-form" role="form">
           {% csrf_token %}
            <input type="text" id="user_id" name="user_id" placeholder="teacher-id">
              {% for error in form.user_id.errors %}
                <label class="control-label text-danger">{{ error }}</label>
              {% endfor %}
            <input type="password" class="form-control" id="password" name="password" placeholder="password">
              {% for error in form.password.errors %}
                <label class="control-label text-danger">{{ error }}</label>
              {% endfor %}
            <button type="submit" style="color:rgb(255, 245, 220);">Log in</button>
            <p class="message">Haven't any account?<a href="{% url 'teacher_signup' %}">Sign up</a></p>
          </form>
        </div>

      </div>
    </div>

  </div>
  <!-- /.container -->
  <!-- Return to Top -->
  <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
</section>
{% endblock %}