{% extends 'base.html' %}

<!-- Header -->
{% block content %}

<div class="header-bg ">
    <br><br><br><br>
    <h3 class="text-right">Teacher Dashboard &nbsp &nbsp &nbsp &nbsp &nbsp </h3>
    <br><br><br>
  </div>

<section class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-8 ml-auto">
        <div class="info">
            <h1 align="center text-left">Assignment List</h1>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>SL</th>
              <th>Name</th>
              <th>Teacher</th>
              <th>Department</th>
              <th>Session</th>
              <th>Created At</th>
            </tr>
          </thead>
          <tbody>
            {% for item in assignments %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.teacher }}</td>
              <td>{{ item.department}}</td>
              <td>{{ item.session }}</td>
              <td>{{ item.created_at }}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="6" align="center">No assignment found</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-lg-4 mr-left">
        <div class="container-form">
          <div class="info">
              <button class="btn col-lg-12"><a href="/dashboard"> Review Subbmited Assignemtns</a></button> <br><br>
              <button class="btn col-lg-12"><a href="/assign_assignment">Assign Assignment</a></button>
              <br><br>
            <h1 align="center"><u>Create Assignment</u></h1>

          </div>
        </div>
        <div class="form">
          <div>
            {% if form.non_field_errors %}
                  <span class="alert alert-danger alert-dismissable">
                  {{ form.non_field_errors }}
                  </span>
            {% endif %}
          </div>
         <form method="post" action="{% url 'assignment' %}" class="login-form" role="form">
           {% csrf_token %}
            {% for field in form.visible_fields %}
              <div class="form-group{% if field.errors %} has-error{% endif %}">
                <label for="{{ field.label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                  <span class="help-block">{{ field.help_text|safe }}</span>
                {% endif %}
                {% for error in field.errors %}
                  <label class="control-label text-danger">{{ error }}</label>
                {% endfor %}
              </div>
            {% endfor %}
            <button type="submit" style="color:rgb(255, 245, 220);">Submit</button>
        </div>

      </div>
    </div>


  </div>
  <!-- /.container -->
  <!-- Return to Top -->
  <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
</section>
{% endblock %}