{% extends 'base.html' %}

<!-- Header -->

{% block content %}
<br><br><br> 

<div class="dropdown">
    <button class="btn btn col-lg-6 dropdown-toggle" type="button" data-toggle="dropdown">Select An Assignment
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a href="#">HTML</a>
        </li>
    </ul>
</div>    <br>

<div class="dropdown">
    <button class="btn btn col-lg-6 dropdown-toggle" type="button" data-toggle="dropdown">Select A Studnet
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a href="#">HTML</a>
        </li>
    </ul>
</div>    <br>

<div class="dropdown">
    <button class="btn btn col-lg-6 dropdown-toggle" type="button" data-toggle="dropdown">Set A Status
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a href="#">HTML</a>
        </li>
    </ul>
</div>    <br>

<div class="dropdown">
    <button class="btn btn-primary col-lg-6 " type="button" >Assign Now
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a href="#">HTML</a>
        </li>
    </ul>
</div>    <br>


<!-- 

  <br><br><br>
  Assign Assignment =<select>
    <option value="volvo">{{ assignment_name }}</option>
    
    
  </select><br><br>
  
  Student Name =<select>
    <option value="volvo">{{ person_groups }}</option>
   
    
  </select><br><br>
  
  status=
  <select>
    <option value="volvo">active</option>
    <option value="saab">accptaed</option>
    <option value="mercedes">denited</option>
    
  </select><br><br>
  <button type="button">Assign Now!!</button> 

  <br><br><br>



{% endblock %}





<button type="submit" class="btn col-lg-6">Submit Now</button> -->