{% extends 'base.html' %}

<!-- Header -->

{% block content %}

  <div class="header-bg ">
    <br><br><br><br>
    <h3 class="text-right">Assign an Assignment &nbsp &nbsp &nbsp &nbsp &nbsp </h3>
    <br><br><br>
  </div>


  <div class=" col-lg-12 row">
      <div class=" col-lg-8 container">
           <p class="internal" > When creating or editing an assignment, teacher can assign an assignment to individual students. 
            Teachers can also set different due and availability dates for a student within an assignment that
            is assigned to the rest of the class. Only the students can view the assignment.</p>
      </div>
          
      <div class="col-lg-4">
          <br>
          <div class="dropdown">
              <button class="btn btn col-lg-12 dropdown-toggle" type="button" data-toggle="dropdown">Select An Assignment
                  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                  <li>
                      <a href="#">HTML</a>
                  </li>
              </ul>
          </div>    <br>
          
          <div class="dropdown">
              <button class="btn btn col-lg-12 dropdown-toggle" type="button" data-toggle="dropdown">Select A Studnet
                  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                  <li>
                      <a href="#">HTML</a>
                  </li>
              </ul>
          </div>    <br>
          
          <div class="dropdown">
              <button class="btn btn col-lg-12 dropdown-toggle" type="button" data-toggle="dropdown">Set A Status
                  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                  <li>
                      <a href="#">HTML</a>
                  </li>
              </ul>
          </div>    <br>
          
          <div class="dropdown">
              <button class="btn btn-primary col-lg-12" type="button" >Assign Now
                  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                  <li>
                      <a href="#">HTML</a>
                  </li>
              </ul>
          </div>    <br>
      </div>
  </div>




<!-- 

  <br><br><br>
  Assign Assignment =<select>
    <option value="volvo">{{ assignment_name }}</option>
    
    
  </select><br><br>
  
  Student Name =<select>
    <option value="volvo">{{ person_groups }}</option>
   
    
  </select><br><br>
  
  status=
  <select>
    <option value="volvo">active</option>
    <option value="saab">accptaed</option>
    <option value="mercedes">denited</option>
    
  </select><br><br>
  <button type="button">Assign Now!!</button> 

  <br><br><br>



{% endblock %}





<button type="submit" class="btn col-lg-6">Submit Now</button> -->