<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AWASS</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!--scroll-->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    {% load compress %} {% load staticfiles %}
    {% compress css %}
    <!-- Round -->
    <link href="{% static 'vendor-round/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css-round/round-about.css' %}" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/landing-page.css' %}" rel="stylesheet">
    {% endcompress %}

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">AWASS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                 <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="t-log-in.html">I'm a Teacher</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="s-log-in.html">I'm a Student</a>
                    </li>
                </ul> 
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="intro-header">
        <div class="container">
            <div class="intro-message">
                <h3>Automate "Web Application Submission" System</h3>
                <hr class="intro-divider">
                <h5>To build a platform to help the students & teachers in the context of submitting projects. </h5>
            </div>
        </div>
    </header>

    <!-- Page Content 
	<section clss="content-section-about">
	  <div class="container" align="center">
	    <h1><br>About Us</h1>
		<p class="lead" style="text-align:justify;">This  project is to develop a system that will help to submit project to it’s teachers.
		To build a platform to help the students & teachers in the context of submitting projects.
        This project is aimed to enable the student to submit their assignment or project online without submitting 
		any physical file; The proposed system decreases the complexity of managing projects for student by 
		providing them with the current status of their projects and the progresses with their supervisors. 
		The main goal of this project is to design and implement online assignment submission and provide an
		interface use for uploading test program by instructors, who would be able to evaluate assignments automatically. 
		The interface use to invoke different testing program by teachers, So Save the time and cost for teachers by
		enabling them to put up a fast response for students as well as increasing the quality of the feedback provided
		to students.
		<br>
		Nowadays, higher education has become one of the most necessary factors in daily life. 
		In modern academic curriculum, the projects are becoming more and more important. 
		Time limitation is an undeniable issue that people face in daily life and work. 
		Student projects are not an exception and most of student and supervisors face this issue during the project 
		progress. Students hardly can manage their time to do their projects and meet their supervisors. 
		This paper will discuss on prototype that will attempt to help in overcoming these issues and provide a
		good experience for the users. Upload and set assignment datelines with ability to review and edit assignments 
		for grading purposes directly in the browser. Students able to view on assignment dateline alerts and submit
		assignment online and see if the assignments submitted have been graded. Consistent grading in parallel with 
		the review process while giving feedback on the students’ performance. 
        </p> 
	  
	  </div>-->
    <!-- Return to Top -->
    <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>



    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <h1 class="my-4" align="center">About Us</h1>

        <p class="lead" style="text-align:justify;">This project is to develop a system that will help to submit project to it’s teachers. To build a platform to help
            the students & teachers in the context of submitting projects. This project is aimed to enable the student to
            submit their assignment or project online without submitting any physical file; The proposed system decreases
            the complexity of managing projects for student by providing them with the current status of their projects and
            the progresses with their supervisors. The main goal of this project is to design and implement online assignment
            submission and provide an interface use for uploading test program by instructors, who would be able to evaluate
            assignments automatically. The interface use to invoke different testing program by teachers, So Save the time
            and cost for teachers by enabling them to put up a fast response for students as well as increasing the quality
            of the feedback provided to students.
            <br> Nowadays, higher education has become one of the most necessary factors in daily life. In modern academic
            curriculum, the projects are becoming more and more important. Time limitation is an undeniable issue that people
            face in daily life and work. Student projects are not an exception and most of student and supervisors face this
            issue during the project progress. Students hardly can manage their time to do their projects and meet their
            supervisors. This paper will discuss on prototype that will attempt to help in overcoming these issues and provide
            a good experience for the users. Upload and set assignment datelines with ability to review and edit assignments
            for grading purposes directly in the browser. Students able to view on assignment dateline alerts and submit
            assignment online and see if the assignments submitted have been graded. Consistent grading in parallel with
            the review process while giving feedback on the students’ performance.
        </p>


        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="my-4" align="center">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
                <h3>Mst. Jannatul Ferdousi Ara
                    <br>
                    <small>Supervisor</small>
                </h3>
                <p>Associate Professor of CSE Department, Dhaka City College, Dhaka, Bangladesh. </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="https://lh3.googleusercontent.com/-kqLRJVrjPbo/WgNL4p3dXVI/AAAAAAAABJI/f5cgcRG4PDo257jIcJxrhXZI1WjrpnAIACL0BGAYYCw/h610/3965255429134864074%253Faccount_id%253D1"
                    alt="" style="width:200px;height:200px;">
                <h3>Al-Amin Talukdar
                    <br>
                    <small>Candidate</small>
                </h3>
                <p>Roll:1300296, Reg No:1213338 to the Development of Computer science and engineering. Dhaka City College,Dhaka,Bangladseh.
                </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="img/IMG_2905.jpg" alt="" style="width:200px; height:200px;">
                <h3>Esha Sarker
                    <br>
                    <small>Candidate</small>
                </h3>
                <p>Roll:1300286, Reg No:1213328 to the Development of Computer science and engineering, Dhaka City College,Dhaka,Bangladseh.</p>
            </div>

        </div>

    </div>
    <!-- /.container -->


    <aside class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 my-auto">
                    <h2>Connect to Start Bootstrap:</h2>
                </div>
                <div class="col-lg-6 my-auto">
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">
                            <a href="#" class="btn btn-secondary btn-lg">
                  <i class="fa fa-twitter fa-fw"></i>
                  <span class="network-name">Twitter</span>
                </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn btn-secondary btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn btn-secondary btn-lg">
                  <i class="fa fa-linkedin fa-fw"></i>
                  <span class="network-name">Linkedin</span>
                </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </aside>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">Home</a>
                </li>
                <li class="footer-menu-divider list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                    <a href="#about">About</a>
                </li>
                <li class="footer-menu-divider list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                    <a href="#services">Services</a>
                </li>
                <li class="footer-menu-divider list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
            <p class="copyright text-muted small">Automated "Web Application Assignment" Submission System.</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!--round JavaScript -->
    <script src="vendor-round/jquery/jquery.min.js"></script>
    <script src="vendor-round/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>

</html>