{% extends 'base.html' %}

<!-- Header -->
{% block content %}

<div class="header-bg ">
    <br><br><br><br>
    <h3 class="text-right">Review an Assignment &nbsp &nbsp &nbsp &nbsp &nbsp </h3>
    <br><br><br>
</div>

<section class="content-section">
    <div class="info">
        <h3 align="center"><u><br>Subbmitted Assignment</u></h3><br>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ml-auto">
        name: {{assignment.assignment}}<br>
        student: {{assignment.student}}<br>
        deadline: {{assignment.deadline}}<br>
        container_name: {{assignment.container_name}}<br>
        container_tag: {{assignment.container_tag}}<br>
        github_url: {{assignment.github_url}}<br>
        <form action="{% url 'review_assignemt' assignment.alias %}" method="post" role="form" class="login-form">
            {% csrf_token %}
            {% for field in form.visible_fields %}
              <div class="form-group{% if field.errors %} has-error{% endif %}">
                {% if field.label %}
                <label for="{{ field.label }}">{{ field.label }}</label>
                {% endif %}
                {{ field }}
                {% if field.help_text %}
                  <span class="help-block">{{ field.help_text|safe }}</span>
                {% endif %}
                {% for error in field.errors %}
                  <label class="control-label text-danger">{{ error }}</label>
                {% endfor %}
              </div>
            {% endfor %}
            <button type="button" class="btn btn-danger m-r"><a class="text-white" href="{% url 'dashboard' %}" >Cancel</a></button>
            <button type="submit" class="btn btn-info m-r"><span class="text-white">submit</span></button>
          </form>
      </div>
      
  </div>
  <!-- /.container -->
  <!-- Return to Top -->
  <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
</section>
{% endblock %}


    
<button type="button">Accepted</button> 
<button type="button">Denited</button>