{% extends 'base.html' %}

<!-- Header -->
{% block content %}


<section class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 ml-auto">
                <div class="info">
                    <h1 align="center text-left">Your Assignment List</h1>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Assignment</th>
                            <th>Teacher</th>
                            <th>Deadline</th>
                            <th>Container Name</th>
                            <th>Container Tag</th>
                            <th>Github Url</th>
                            <th>remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in assignments %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.assignment }}</td>
                            <td>{{ item.assigned_by }}</td>
                            <td>{{ item.deadline}}</td>
                            <td>{{ item.container_name}}</td>
                            <td>{{ item.container_tag}}</td>
                            <td><a href="{{item.github_url}}" target="_blank">{{item.github_url}}</a></td>
                            <td>{{ item.remarks }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6" align="center">No assignment found for you</td>
                        </tr>
                        {% endfor %}



                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-success m-r"><a class="text-white" href="{% url 'submit_assignment' %}" >Submit an Assignment Now</a></button>
        </div>
        <!-- /.container -->
        <!-- Return to Top -->
        <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
        <br>
    </div>
<section class="content-section-a">
{% endblock %}