{% extends 'base.html' %}

<!-- Header -->
{% block content %}

<div class="header-bg ">
    <br><br><br><br>
    <h3 class="text-right">Submit an Assignment &nbsp &nbsp &nbsp &nbsp &nbsp </h3>
    <br><br><br>
</div>
<br>

<div class=" col-lg-12 row">
    <div class=" col-lg-7 container">
         <p class="lead" style="text-align:justify; padding:4%" > While submitting an assignment, Student must have to include Three things. 
             Container Name, Container Tag & Github URL. Those three things will be used by Teacher to review the assignment.
            <br><br>
             <small class="form-text ">- Container Name is your Docker Image Name. </small>
             <small class="form-text ">- Container Tag is your Docker Image Tag. </small>
             <small class="form-text ">- Github URL is a URL what is being used to host your source code. </small>
            <br>
            
            <u> Before Submitting make sure that</u>
             <br>
             <small class="form-text ">- You have uploaded container to Registry</small>
             <small  class="form-text ">- You have uploaded container to Registry with exact tag</small>
             <small  class="form-text "> - You have uploaded Source Code to Your own Github Repository</small>
          </p>
    </div>
        
    <div class="col-lg-5">
        <div class="login-form">
            <div class="form-group">
                <label><h4>Assignment</h4></label>
                <div class="from-control text-gray">
                    {{ assignment.assignment.name }}
                </div>
            </div>
            <div class="form-group">
                <label><h4>Description</h4></label>
                <div class="from-control text-gray">
                    {{ assignment.assignment.description }}
                </div>
            </div>
            <div class="form-group">
                <label><h4>Deadline</h4></label>
                <div class="from-control text-gray">
                    {{ assignment.deadline }}
                </div>
            </div>
            <div class="form-group">
                <label><h4>Teacher</h4></label>
                <div class="from-control text-gray">
                    <span>{{ assignment.assigned_by.first_name}} {{assignment.assigned_by.last_name }}
                    {% if assignment.assigned_by.department %}
                        ({{assignment.assigned_by.department}})
                    {% endif %}</span>
                </div>
            </div>
        </div>
        <form action="{% url 'submit_assignment' assignment.alias %}" method="post" role="form" class="login-form">
            {% csrf_token %}
            {% for field in form.visible_fields %}
              <div class="form-group{% if field.errors %} has-error{% endif %}">
                {% if field.label %}
                <label for="{{ field.label }}">{{ field.label }}</label>
                {% endif %}
                {{ field }}
                {% if field.help_text %}
                  <span class="help-block">{{ field.help_text|safe }}</span>
                {% endif %}
                {% for error in field.errors %}
                  <label class="control-label text-danger">{{ error }}</label>
                {% endfor %}
              </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary col-lg-12">Submit Now</button>
          </form>



        <!-- <form>

            <div class="dropdown">
                <button class="btn btn col-lg-12 dropdown-toggle" type="button" data-toggle="dropdown">Select An Assignment
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">HTML</a>
                    </li>
                </ul>
            </div>    <br>


            <div class="form-horizontal">
                    <label for="control-label ">Container Name</label>
                    <div class="col-sm-12">
                        <input type="" class="form-control" id="containerName" aria-describedby="containerHelp" placeholder="Please Enter your Container Name">
                        
                    </div><br>
                </div>

            <div class="form-horizontal">
                <label class="control-label" for="ContainerTag">Container Tag</label>
                <div class="col-sm-12">
                    <input type="" class="form-control" id="containerTag" placeholder="Please Enter your Container Tag">
                    
                </div><br>
            </div>

            <div class="form-horizontal">
                <label for="control-label">Github URL</label>

                <div>
                    <div class="col-sm-12">
                        <input type="" class="form-control" id="githubUrl" placeholder="Please Enter your Github URL">
                       
                    </div>
                </div><br>
            </div>
            <button type="submit" class="btn col-lg-12">Submit Now</button>
        </form> -->

    <br>
    <br>
    <br> 
    </div>
</div>
{% endblock %}