<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>I'm a Teacher</title>
    
	<!-- Log in -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900'>
	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="log-in/css/style.css">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.css" rel="stylesheet">
	
	

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">AWASS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">About</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="t-log-in.html">I'm a Teacher</a>
            </li>
			<li class="nav-item">
              <a class="nav-link" href="s-log-in.html">I'm a Student</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
	  
	
	
    <section class="content-section-a">

      <div class="container">
        <div class="row">
          <div class="col-lg-5 ml-auto">
            
            <div class="clearfix"></div>
            <h2 class="section-heading">Teachers:</h2>
			
			
			
			<p class="lead">The users who receive notification by system that he/she get a students submitted project. 
			    They are able to access their account and see their tasks.
			    They are able to see the written code and run the code without any hassle.<br>
				The user get the following advantages:<br>
				• Higher visibility of project progress for students’ supervisors and easier management of projects. <br>
                • Convenient for supervisors, using online student project management system supervisors can simply monitor the progress of students. Students and supervisors can communicate in an effective and efficient way using online web communication features. 

			</p>
          </div>
          <div class="col-lg-5 mr-auto">
            <div class="container-form">
                 <div class="info">
                     <h1 align="center">Login Form</h1>
                 </div>
            </div>
            <div class="form">
                    <div class="thumbnail">
					    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg"/>
					</div>
                    <form class="login-form">
						<input type="text" placeholder="teacher-id"/>
						<input type="password" placeholder="password"/>
						<button><a href="log-in.html" style="color:rgb(255, 245, 220);">login</a></button>
						<p class="message">Haven't any account?<a href="t-sign-up.html">Sign up</a></p>
                    </form>
            </div>
           
          </div>
        </div>

      </div>
      <!-- /.container -->
	  <!-- Return to Top -->
           <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a> 
    </section>

   


    <aside class="banner">

      <div class="container">

        <div class="row">
          <div class="col-lg-6 my-auto">
            <h2>Connect to Start Bootstrap:</h2>
          </div>
          <div class="col-lg-6 my-auto">
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="#" class="btn btn-secondary btn-lg">
                  <i class="fa fa-twitter fa-fw"></i>
                  <span class="network-name">Twitter</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="btn btn-secondary btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="btn btn-secondary btn-lg">
                  <i class="fa fa-linkedin fa-fw"></i>
                  <span class="network-name">Linkedin</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <!-- /.container -->

    </aside>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
      <div class="container">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Home</a>
          </li>
          <li class="footer-menu-divider list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#about">About</a>
          </li>
          <li class="footer-menu-divider list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#services">Services</a>
          </li>
          <li class="footer-menu-divider list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#contact">Contact</a>
          </li>
        </ul>
        <p class="copyright text-muted small">Automated "Web Application Assignment" Submission System.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	
	<!--Log in -->
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script  src="Log-in/js/index.js"></script>

  </body>

</html>
