{% extends 'base.html' %}

<!-- Header -->
{% block content %}


<section class="content-section-a">

    <div class="container">
        <div class="row">
            <button type="button" class="btn btn-success m-r"><a class="text-white" href="{% url 'assignment' %}" >Create an Assignment</a></button>
            <button type="button" class="btn btn-info m-r"><a class="text-white" href="{% url 'assign-assignment' %}" >Assign Assignment</a></button>
            <div class="col-lg-12 ml-auto">
                <div class="info">
                    <h1 align="center text-left">Assignment List Assigned by You</h1>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Assignment</th>
                            <th>student</th>
                            <th>Deadline</th>
                            <th>Container Name</th>
                            <th>Container Tag</th>
                            <th>Github Url</th>
                            <th>remarks</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in assignments %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.assignment }}</td>
                            <td>{{ item.student }}</td>
                            <td>{{ item.deadline}}</td>
                            {% if item.container_name %}
                            <td>{{ item.container_name}}</td>
                            {% else %}
                            <td>-</td>
                            {% endif %}
                            {% if item.container_tag %}
                            <td>{{ item.container_tag}}</td>
                            {% else %}
                            <td>-</td>
                            {% endif %}
                            {% if item.github_url %}
                            <td><a href="{{item.github_url}}" target="_blank">{{item.github_url}}</a></td>
                            {% else %}
                            <td>-</td>
                            {% endif %}
                            {% if item.remarks %}
                            <td>{{ item.remarks}}</td>
                            {% else %}
                            <td>-</td>
                            {% endif %}
                            <th>
                                <button type="button" class="btn btn-info m-r"><a class="text-white" href="{% url 'review_assignemt' item.alias %}" >Review</a></button>
                            </th>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6" align="center">You haven't assigned any Assignment yet</td>
                        </tr>
                        {% endfor %}



                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.container -->
        <!-- Return to Top -->
        <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
        <br>
    </div>
<section class="content-section-a">
{% endblock %}